.main-theme{
    padding: 40px 0px;
    .icon {
    font-size: 30px;
  }
      .theme-heading{
        font-size: 18px;
      }
      .theme-text{
        color: #9da5ac !important;
      }
   
    
  }
  