
// CardContent
.card-line
  {
    font-size: 0.85rem;
  }
  .card-style
  {
    padding: 0 5rem;
  }
  @media only screen and (min-width: 375px) and (max-width: 667px){
    .card-style{
    padding:0 0 !important;
     } 
   }
//CardContent

//form
.form-control
{
  border-left-style: none !important;
  border-right-style: none !important;
  border-top-style: none !important;
  border-bottom-style: 1px solid #000 !important;
}
.custom-select
{
  border-left-style: none !important;
  border-right-style: none !important;
  border-top-style: none !important;
  border-bottom-style: 1px solid #000 !important;
  
}
.btn
{
 background-color:  #9c27b0 !important;
}
//form

//header
.navbar-nav {
    .nav-link {
      color: #fff !important;
    }
  }
  .navbar-toggler-icon{
    position:absolute;
    top:8px;
  }
  .top-jumbotron {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../assets/back.jpg");
    background-size: cover;
    margin-top: -110px;
  }
  .navbar{
  background-color: #04172745;
  }
  .about-style
  {
    font-size: 2.4rem;
  }
  .navbar{
    .nav-link{
  .nav-item a:hover
  {
    color:#fff !important;
  }
  }
  }
  .logo:hover
  {
    color:#fff !important;
  }

  //header

  //media content
  .link {
    color: #615a5a;
  }
  a:hover {
    color: #615a5a !important;
  }
  .awesome
  {
    color:#ea4563;
  }
  .text-wrap
  {
    word-wrap: normal;
  }
  .media-line
  {
    font-size:0.85rem;
  }
  .media-link
  {
    font-size:0.95rem;
  }
    //media content

    //product-images
    .img-pb
{
 border-radius: 0.4rem;
}
      //product-images

      //home
 .oversectiion
{
 margin: -84px 20px 30px ;
}
.home
{
  background-color: #ccc;
}
body
{
  font-size: 0.95rem !important;
}
//home