@import "./color-variables";

body {
  background-color: $background-color;
}

.navbar-brand {
  font-size: 1rem;
}

.navbar-brand:hover {
  color: white !important;
}

.addpadding {
  padding: 0 100px !important;
}

@media only screen and (max-width: 600px) {
  .addpadding {
    padding: 0 50px !important;
  }
}

.btn-danger {
  background-color: #dc3545 !important;
}

.banner-content {
  margin-top: 110px;
  .main-banner-content {
    padding-top: 11rem;
  }

  .banner-header {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 46px;
    line-height: 50px;
  }
}

.top-jumbotron {
  height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/rimages/headerimage.jpg");
  background-size: cover;
  margin-top: -110px;
}

.oversection {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin-top: -180px;

  .header-text {
    color: $dulltext;
    font-size: 15px;
  }

  .workdesc {
    color: $dulltext;
    font-size: 15px;
    font-weight: 400;
  }

  .workcolor:focus {
    outline: none;
	}
	
  .your-msg-txtarea {
    resize: none;
	}
	
  @mixin sndbtnmixin {
    background-color: $sndbtncolor;
    border-color: $sndbtncolor;
    font-size: 12px;
    outline: none;
    color: white;
    border-radius: 4px;
  }

  .sndbtn {
    @include sndbtnmixin();
  }

  .sndbtn:hover {
    @include sndbtnmixin();
  }

  .sndbtn:focus {
    @include sndbtnmixin();
  }
}
